<% layout('/layouts/boilerplate') -%>

<body>
<form action="/createItemNew" method="POST">
    <label for="name">Item Name:</label>
    <input required type="text" name="name" value="">
    <label for="category">Category:</label>
    <input required type="text" name="category" value="">
    <label for="price">Price:</label>
    <input required type="text" name="price" value="">
    <label for="imgtrans">Image URL (Transparent):</label>
    <input type="text" name="imgtrans" value="">
    <button>Submit</button>
</form>