<!-- 
mt-auto brings things down to the bottom of the page
Justify Content is only going to affect everything (everything would move)
If you want one thing to move on main axis, margin top auto or margin bottom auto
-->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Xeopets 2023</span>
    </div>
</footer>