<% layout('/layouts/boilerplate') -%>

<link rel="stylesheet" type="text/css" href="css/burger-stop-store.css" />
<link rel="stylesheet" type="text/css" href="css/styleguide.css" />
<link rel="stylesheet" type="text/css" href="css/globals.css" />
<body style="margin: 0">
  <input type="hidden" id="anPageName" name="page" value="burger-stop-store" />
  <div class="container-center-horizontal">
    <div class="burger-stop-store screen">
      <div class="overlap-group3">
        <img class="store-background" src="img/store-background-.png" alt="Store Background " />
        <img class="storekeeper" src="img/storekeeper.png" alt="Storekeeper" />
        <img class="desk" src="img/desk.png" alt="Desk" />
        <div class="overlap-group1">
          <div class="amster-pam-dm">AmsterPam, DM</div>
          <div class="overlap-group">
            <p class="oh-child-enzori-is-only">OH CHILD ENZORI IS ONLY</p>
            <div class="square"></div>
          </div>
          <img class="circle" src="img/circle@2x.png" alt="Circle" />
        </div>
        <div class="white-top-banner">
          <div class="overlap-group2">
            <div class="white-background-banner"></div>
            <h1 class="title teko-semi-bold-taupe-60px">
              <span class="span0 teko-semi-bold-taupe-60px">BURGER. STOP</span
              ><span class="span1 teko-semi-bold-taupe-60px">&nbsp;</span
              ><span class="span2">(NO BURGERS AVAILABLE)</span>
            </h1>
            <img class="burger-icon" src="img/burger-icon.svg" alt="Burger Icon" />
          </div>
        </div>
        <div class="item-box"></div>
      </div>
    </div>
  </div>
</body>
